.content
    hgroup.title
        h2.geek About

    p
       | This site was created because I noticed something about the way blokes behave when organising
       | a night out. One person will send out an email suggesting the night out to a long list of other
       | people. At this point there is a window of opportunity to respond when <i>nothing</i> will be read into
       | your response. Most people will miss this window of opportunity.

    p
       | After this point the game theory comes into play. If I say no early I may miss out on what turns
       | out to be a good night. If I say yes early, then I may get saddled with a boring evening with
       | one other person or with people I don't like. If I wait, then other people will know I hedging
       | my bets. If they have already said yes, they may conclude that I don't like them.

    p
       | With this system, all of that anxiety dissolves. You simply have to tell the machine whether or not
       | you are in principle available on that date at that time. It's not your fault if the machine
       | decides that you will not have a good time and cancels the event.

    p
       | You're joking right? You don't really think like that? I'm half joking. More like a quarter.

