.featured
    h2.geek
        | Organise a night out without all the game theory.
        | Who is going? Who is not going? Will there be enough people I like?
        | Why not relax and let the machines decide

 .content
     h3 Here's how it works
     ol.round
         li.one
             h5 Build a group of friends
             |Create a groups of friends who you might want to go out with by entering their
             |names and email addresses. Rank each friend on a scale from one to ten based on
             |how much you enjoy their company. Don't worry, they will not see your rankings.
         li.two
             h5 Propose an event for you and your friends
             |Create a proposed event by suggesting a date and time and adding a brief description.
             |Invite people from your group of friends who you would like to attend. Those friends
             |must at this point register with the system and rank the other invitees according to the
             |one to ten scale. They will then also indicate whether they are, in principle, able to
             |attend the event.
         li.three
             h5 Sit back and let the computer work it out
             |Once all of the invitees have responded and mutually ranked each other, the system will
             |calculate whether or not the event is viable with no need for any one to stick their neck
             |out and no need for any one to get offended. If an invitee changes their availability at
             |any time, the system re-evaluates. Each proposed event will then simply get a green light
             |or a red light depending on the mix of people who are able to attend and how they feel
             |about each other.
